<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha384-KyZXEAg3QhqLMpG8r+O8q3D6Ors2aT1l0cC+2g1/CeZzA/J5fet5pG2i5oV5z5e5bB"
        crossorigin="anonymous"></script>
    <style>
        body{
            padding-bottom: 0!important;
        }
    #dashboard{
        width:100%;
        height: auto;        
        margin-left: 245px;
    }
    table tr td,table tr th{
        border: 1px solid whitesmoke;
    }
    table tr td:nth-child(1),table tr th:nth-child(1){
        border-left: 0;
    }
    table tr td:nth-child(1),table tr th:nth-child(1){
        border-right: 0;
    }
    table tr td img{
        width: 50px;
        height: 50px;
        margin: 0 10px;
    }
    table tr td h4{
        font-size: 20px;
        font-weight: 400;
    }
    footer{
        margin-left: 240px;
    }
    @media (max-width:1000px){
        #dashboard{
            margin-left: 0;
        }
        footer{
        margin-left: 0;
    }
    }
    </style>
</head>
<body>

    

    <%- include('../partials/admin_navbar', {variant: 'compact' }); %>

    <!-- ----------------------------------Modal Open------------- -->
    
    <!-- -----------------------------------Modal End------------- -->
    <section id="dashboard">
        <div class="container px-5" style="background: #107ECB;">
            <div class="row justify-content-between align-items-center">
                
               <h1 class="text-light pt-4">Blood Group Units</h1>
               <div class="row">
                   <div style="width: 150px;height: 2px;background: #DF2443;margin: 5px;"></div>
                   <div style="width: 150px;height: 2px;background-color: black;margin: 5px;"></div>
               </div>

               <p class="text-light py-4" style="font-size: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, iste.  </p>
               <div class="mb-3" style="width: 100%;height: 1px;background: whitesmoke;">

               </div>
               
            </div>             
        </div>
        <%if(msg){%>
           <script>
            alert('<%=msg%>');
           </script>
          <%}%>
        <div class="my-5 mx-3 container p-2" >
            <div class="py-2 px-4" style="width: 90%; border-radius: 12px;background: #107ECB;margin: auto;">
               <div class="row pt-2 pb-3 justify-content-between align-items-center" style="border-bottom: 1px solid white;">
                <div class="col-md-6">
                 <h2 class="text-light">All Inventory</h2>
                 <div class="row px-3">
                   <div style="width: 150px;height: 2px;background: #DF2443;margin: 5px;"></div>
                   <div style="width: 150px;height: 2px;background: #000;margin: 5px;"></div>
                 </div>
                </div>
                <div class="col-md-6 p-2 d-flex justify-content-end">
                      <a href="/admin/admin_dashboard" class="btn" style="background: #DF2443;color: white;">Add Units</a>
                </div>
               </div>
           <div class="table-responsive" style="height: 600px;overflow-y: scroll;">
               <table class="table">
                   <thead>
                       <tr>
                           <th style="color: white;">
                            <div class="d-flex justify-content-center align-items-center">
                               <div style="width: 20px; height: 20px;background: white;border-radius: 5px;"></div>
                                <h4 class="px-2 pt-2">Blood Types</h4>
                            </div>
                           </th>
                           <th style="color: white;">
                               <div class="d-flex justify-content-center align-items-center">
                                  <!-- <div style="width: 20px; height: 20px;background: white;border-radius: 5px;"></div> -->
                                   <h4 class="px-2 pt-2">Cost</h4>
                               </div>
                           </th>
                           <th style="color: white;">
                               <div class="d-flex justify-content-center align-items-center">
                                  <!-- <div style="width: 20px; height: 20px;background: white;border-radius: 5px;"></div> -->
                                   <h4 class="px-2">Units</h4>
                               </div>
                           </th>
                           <th style="color: white;">
                               <div class="d-flex justify-content-center align-items-center">
                                  <!-- <span style="width: 20px; height: 20px;background: white;border-radius: 5px;"></span> -->
                                   <h4 class="px-2 pt-2">Action</h4>
                               </div>
                           </th>
                       </tr>
                   </thead>
                   <tbody>
                    <%userrecord.forEach((user)=>{%>
                       <tr>
                        
                           <td style="color: white;">
                               <div class="d-flex align-items-center justify-content-center">                      
                                  <img src="images/blood-drop.png" alt="">
                                  <h4 class="text-ligt">A+</h4>
                               </div>
                           </td>
                           <td style="color: white;">
                               <div class="d-flex justify-content-center align-items-center">                                  
                                   <p><%=user.Cost_of_blood%></p>
                               </div>
                           </td>
                           <td style="color: white;">
                               <div class="d-flex justify-content-center align-items-center">
                                   <p><%=user.A_plus_unit%></p>
                               </div>
                           </td>
                           <td style="color: white;">
                               <div class="d-flex justify-content-center align-items-center">
                                  <i class="fa fa-edit"></i>
                               </div>
                           </td>
                       </tr>   
                       <tr>                        
                            <td style="color: white;">
                                <div class="d-flex align-items-center justify-content-center">                      
                                <img src="images/blood-drop.png" alt="">
                                <h4 class="text-ligt">B+</h4>
                                </div>
                            </td>
                            <td style="color: white;">
                                <div class="d-flex justify-content-center align-items-center">                                  
                                    <p><%=user.Cost_of_blood%></p>
                                </div>
                            </td>
                            <td style="color: white;">
                                <div class="d-flex justify-content-center align-items-center">
                                    <p><%=user.B_plus_unit%></p>
                                </div>
                            </td>
                            <td style="color: white;">
                                <div class="d-flex justify-content-center align-items-center">
                                <i class="fa fa-edit"></i>
                                </div>
                            </td>
                        </tr>  
                        <tr>                        
                            <td style="color: white;">
                                <div class="d-flex align-items-center justify-content-center">                      
                                   <img src="images/blood-drop.png" alt="">
                                   <h4 class="text-ligt">AB+</h4>
                                </div>
                            </td>
                            <td style="color: white;">
                                <div class="d-flex justify-content-center align-items-center">                                  
                                    <p><%=user.Cost_of_blood%></p>
                                </div>
                            </td>
                            <td style="color: white;">
                                <div class="d-flex justify-content-center align-items-center">
                                    <p><%=user.AB_plus_unit%></p>
                                </div>
                            </td>
                            <td style="color: white;">
                                <div class="d-flex justify-content-center align-items-center">
                                   <i class="fa fa-edit"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>                        
                            <td style="color: white;">
                                <div class="d-flex align-items-center justify-content-center">                      
                                   <img src="images/blood-drop.png" alt="">
                                   <h4 class="text-ligt">O+</h4>
                                </div>
                            </td>
                            <td style="color: white;">
                                <div class="d-flex justify-content-center align-items-center">                                  
                                    <p><%=user.Cost_of_blood%></p>
                                </div>
                            </td>
                            <td style="color: white;">
                                <div class="d-flex justify-content-center align-items-center">
                                    <p><%=user.O_plus_unit%></p>
                                </div>
                            </td>
                            <td style="color: white;">
                                <div class="d-flex justify-content-center align-items-center">
                                   <i class="fa fa-edit"></i>
                                </div>
                            </td>
                        </tr>   
                        <tr>                        
                            <td style="color: white;">
                                <div class="d-flex align-items-center justify-content-center">                      
                                   <img src="images/blood-drop.png" alt="">
                                   <h4 class="text-ligt">A-</h4>
                                </div>
                            </td>
                            <td style="color: white;">
                                <div class="d-flex justify-content-center align-items-center">                                  
                                    <p><%=user.Cost_of_blood%></p>
                                </div>
                            </td>
                            <td style="color: white;">
                                <div class="d-flex justify-content-center align-items-center">
                                    <p><%=user.A_minus_unit%></p>
                                </div>
                            </td>
                            <td style="color: white;">
                                <div class="d-flex justify-content-center align-items-center">
                                   <i class="fa fa-edit"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>                        
                            <td style="color: white;">
                                <div class="d-flex align-items-center justify-content-center">                      
                                   <img src="images/blood-drop.png" alt="">
                                   <h4 class="text-ligt">B-</h4>
                                </div>
                            </td>
                            <td style="color: white;">
                                <div class="d-flex justify-content-center align-items-center">                                  
                                    <p><%=user.Cost_of_blood%></p>
                                </div>
                            </td>
                            <td style="color: white;">
                                <div class="d-flex justify-content-center align-items-center">
                                    <p><%=user.B_minus_unit%></p>
                                </div>
                            </td>
                            <td style="color: white;">
                                <div class="d-flex justify-content-center align-items-center">
                                   <i class="fa fa-edit"></i>
                                </div>
                            </td>
                        </tr>     
                        <tr>                        
                            <td style="color: white;">
                                <div class="d-flex align-items-center justify-content-center">                      
                                   <img src="images/blood-drop.png" alt="">
                                   <h4 class="text-ligt">AB-</h4>
                                </div>
                            </td>
                            <td style="color: white;">
                                <div class="d-flex justify-content-center align-items-center">                                  
                                    <p><%=user.Cost_of_blood%></p>
                                </div>
                            </td>
                            <td style="color: white;">
                                <div class="d-flex justify-content-center align-items-center">
                                    <p><%=user.AB_minus_unit%></p>
                                </div>
                            </td>
                            <td style="color: white;">
                                <div class="d-flex justify-content-center align-items-center">
                                   <i class="fa fa-edit"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>                        
                            <td style="color: white;">
                                <div class="d-flex align-items-center justify-content-center">                      
                                   <img src="images/blood-drop.png" alt="">
                                   <h4 class="text-ligt">O-</h4>
                                </div>
                            </td>
                            <td style="color: white;">
                                <div class="d-flex justify-content-center align-items-center">                                  
                                    <p><%=user.Cost_of_blood%></p>
                                </div>
                            </td>
                            <td style="color: white;">
                                <div class="d-flex justify-content-center align-items-center">
                                    <p><%=user.O_minus_unit%></p>
                                </div>
                            </td>
                            <td style="color: white;">
                                <div class="d-flex justify-content-center align-items-center">
                                   <i class="fa fa-edit"></i>
                                </div>
                            </td>
                        </tr>               
                       <%})%>

                   </tbody>
               </table>
           </div>
           </div>  
           </div>

    </section>
    <%- include('../partials/admin_footer', {variant: 'compact' }); %>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</body>
</html>