<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <%- include('../partials/header', {variant: 'compact' }); %>
    </header>

    <div class="container">
        <div class="header mt-5">
            <h1>Blood Bank Stock Availability</h1>
        </div>
        <div class="form-container">
            <form action="/blood_bank/getlocation" method="get">
                <div class="search">
                    <h5 class="mb-4">Search Blood Banks</h5>
                </div>
                <div class="form-row">                    
                    <div class="form-group col-md-6 p-2">
                        <input type="text" class="form-control" value="<%=bloodgroup %>" name="bloodgroup" readonly id="">
                    </div>
                    <div class="form-group col-md-6 p-2">
                        <input type="text" class="form-control" value="<%=unit%>" name="unit" readonly id="">
                    </div>
                </div>
                <input id="latitude" name="latitude" style="display: none;">
                <input id="longitude" name="longitude" style="display: none;">
                <input id="country" name="country" style="display: none;">
                <input id="state" name="state" style="display: none;">
                <input id="city" name="city" value="" style="display: none;">
                <input id="postcode" name="postcode" style="display: none;">
                <input id="address" name="address" style="display: none;">
                <div class="center-btn">
                    <button type="submit" id="getLocationButton" class="btn d-block rounded-2 mb-5 mx-auto"
                        style="background-color: #DF2443; color:white; width: 100px;">Search</button>
                </div>         
                
            </form>
        </div>
        <%if(result){%>
        <div class="table-container">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead style="background: #DF2443;">
                        <tr>
                            
                            <th class="text-light">Blood Bank Name</th>
                            <th class="text-light">Contact</th>
                            <th class="text-light">Address</th>
                            <th class="text-light">City</th>
                            <th class="text-light">Availability</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Add table data here -->
                        <% result.forEach((reg)=> {%>
                        <tr>
                            
                            <td><%=reg.bloodBankname%></td>
                            <td><%=reg.ownerContactNo%></td>
                            <td><%=reg.bloodBankAddress%></td>
                            <td><%=reg.city%></td>
                            <td>Available</td>
                        </tr>
                        <%})%>
                        <!-- Add more rows as needed -->
                    </tbody>
                </table>
                

            </div>
        </div>
        <%}%>
    </div>

    <footer>
        <%- include('../partials/footer', {variant: 'compact' }); %>
    </footer>
    

    <script>
        
    navigator.geolocation.getCurrentPosition(sendLocationToServer);

    function sendLocationToServer(position) 
    {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;
        console.log(`Latitude: ${latitude}, Longitude: ${longitude}`);

        const api = "https://api.opencagedata.com/geocode/v1/json?q=" + latitude + "," + longitude + "&key=e956c0730db04a47baedbcd836054d57";
        fetch(api)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                console.log("country: " + data.results[0].components.country);
                console.log("state: " + data.results[0].components.state);
                console.log("city: " + data.results[0].components.city);
                console.log("postcode: " + data.results[0].components.postcode);
                console.log("Address: " + data.results[0].formatted);

                document.getElementById("latitude").value = `${latitude}`;
                document.getElementById("longitude").value = `${longitude}`;
                document.getElementById("country").value = `${data.results[0].components.country}`;
                document.getElementById("state").value = `${data.results[0].components.state}`;
                document.getElementById("city").value = `${data.results[0].components.city}`;
                document.getElementById("postcode").value = `${data.results[0].components.postcode}`;
                document.getElementById("address").value = `${data.results[0].formatted}`;

            })
            .catch(error => {
                console.error("Error fetching location data:", error);
            });
}

    </script>

</body>

</html>