<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <script src="/js/scriptuser.js"></script>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <header>
        <%- include('../partials/header2', {variant: 'compact' }); %>
    </header>
    <div class="heading">
        <div class="p-1">
            <h1></h1>
            <div class="d-flex justify-content-center align-items-center">
                <!-- <div class="red"></div>
                <div class="black"></div> -->
            </div>
        </div>
    </div>
    <section id="recipient" class="p-4">
        <div class="form-container" style="background-color: rgba(247, 247, 247, 1);">
            <%if(otp){%>
                <h1 style="text-align: center; color: rgba(216, 37, 37, 1);" class="pb-5"></h1>
                <form action="/login/verifyotp" method="post">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 p-2 d-flex justify-content-center align-item-center">
                               <input type="text" class="input" placeholder="Enter Otp" name="userotp" id="">
                            </div>
                            <div class="col-lg-12 p-2 d-none justify-content-center align-item-center">
                                <input type="text" class="input" placeholder="Enter Otp" name="role" value="<%=role%>" id="">
                            </div>
                            <div class="col-lg-12 p-2 d-none justify-content-center align-item-center">
                                <input type="text" class="input" placeholder="Enter Otp" name="email" value="<%=email%>" id="">
                            </div>
                            <div class="col-lg-12 p-2">
                                <input type="submit" class="btn" style="background-color: rgba(216, 37, 37, 1); color: white; border-style: none;display: block;margin:10px auto;" value="Verify Otp" name="" id="">
                            </div>
                        </div>
                    </div>
                </form>
            <%}else{%>    
               
            <h3 style="text-align: center; color: rgba(216, 37, 37, 1);" class="pb-5"> Update Password </h3>
                
            <form action="/login/password" method="post" onsubmit="return validateform()">
                <div class="container">
                    <div class="row">
                        <input type="email" name="email" class="d-none" value="<%=email%>" id="">
                        <div class="col-lg-12 col-md-12  ps-4 mb-2">
                            <input onkeyup="validateName()" class="input text-center" placeholder="Enter Password" type="password"  name="password" id="name"><br>
                            <!-- <span id="Name_display" style="color:red">*</span><br> -->
                        </div>
                        <div class="col-lg-6 col-md-6 d-none  ps-4 mb-2">
                            <input onkeyup="validateEmail()" class="input" placeholder="" type="" value="<%=role%>" name="role" id="role"><br>
                            <!-- <span id="Email_display" style="color:red"> </span><br> -->
                        </div>
                        
                    </div> 
                    <input type="submit" class="btn" style="background-color: rgba(216, 37, 37, 1); color: white; border-style: none;display: block;margin:10px auto;" value="Update Password"></input>
                    <!-- <p style="margin:10px; color: rgb(178, 174, 174); text-align: center;">Already have an account ?<b style="color: rgb(20, 20, 180);"> Login now</b></p> -->
                </div>
            </form>
            <%}%>
        </div>
    </section>
    <footer>
        <%- include('../partials/footer', {variant: 'compact' }); %>
    </footer>
</body>
</html>
